html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: rgb(11, 163, 163);
    padding: 10px 20px 0px;
    text-decoration: none;
    
}

.header {
    background-color: rgb(5, 108, 108);
    min-height: 200px;
    overflow: hidden;
    position: relative;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.footer {
    background-color: #242424;
    min-height: 150px;
    color: #ffff;
}


.logotipo {
    position: absolute;
    bottom: -45px;
    right: -50px;
    height: 200px;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 15%;
}